/* Root */ 

html {
  font-family: inter;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

h1 {
  font-family: lemon;
}

.container {
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: auto;
}

:root {
  --brown: #43362E;
  --bronze: #D57E39;
  --white: #FFF;
  --frontpageWhite: #D9D9D9;
}

/* For white header - Creating black background to header element for adjusting the styling on the white version of the header */

.dark {
  background: black;
}

.hamburger-button-white {
  color: #FFF;
}

/* Header */


  /* Keyframes for backdrop */

  @keyframes fadeIn {
    from {
      opacity:0;
    }
    to {
      opacity: 0.8;
    }
  }

  @keyframes fadeOut {
    from {
      opacity:0.8;
    }
    to {
      opacity: 0;
    }
  }

.backdrop-active {
  z-index: 400;
  background-color: rgba(67, 54, 46, 0.8);
  height: 100%;
  width: 100vw;
  position: fixed;
  animation: fadeIn 0.3s ease-in; 
}

#navigation-line {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header {
  position: relative;
  z-index: 500;
}

nav {
  margin-left: auto;
  z-index: 700;
}

nav a {
  text-decoration: none;
  list-style: none;
  padding: 0 1rem;
  color: var(--brown);
  font-size: 1.375rem;
}

nav li {
  list-style: none;
  padding: 0.5rem;
  border-bottom: 2px solid var(--bronze);
  width: 100%;
}

.navbar-white a {
  color: #FFF;
}

nav ul {
  display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: flex-start;
   position: fixed; 
   right: -150%;
   transition: right 0.3s ease-in-out;
   top: 0;
   background: #FFF;
   height: 100vh;
   margin: 0;
   padding: 4rem 3rem 2rem;
}

.menu-active nav ul {
  right: 0;
  transition: right 0.3s ease-in-out;
}

#menu-list i {
  position: absolute;
  right: 15%;
  top: 4%;
  font-size: 2rem;
  color: var(--brown);
}

.hamburger-button {
  font-size: 1.5rem;
  color: var(--brown);
}

.hamburger-button-white {
  color: #FFF;
}

.logo-text-desktop {
  display: flex;
  align-items: center;
}

/* Frontpage */

.body-frontpage {
  background: var(--frontpageWhite);
}

.hero-image-container {
  height: auto;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}

.hero-photo img {
  height: auto;
  width: 100%;
}

.frontpage-content {
  position: absolute;
  top: 120px;
  left: 50%; 
  transform: translateX(-50%);
  text-align: center;
  width: 90%;
}

.frontpage-logo {
  padding-top: 2rem;
}

.frontpage-h1 {
  font-size: 0.8rem;
  color: var(--brown);
  font-weight: regular;
}

/* Frontpage gradient */ 

.gradient-container {
  position: relative;

  &:after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(217,217,217,1));
  }
}

.frontpage-text-box {
  background-color: #FFF;
  padding: 1rem;
  margin-top: 3rem;
}

.frontpage-text-box h4 {
  font-family: lemon;
  color: var(--brown);
}

.frontpage-text-box p {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--brown);
}

  /* Frontpage blog card */


  .frontpage-carousel {
    width: 80%;
    margin: 0 auto;
  }

  .blog-card-frontpage {
    padding: 0.5rem;
    background-color: #FFF;
  }

  .frontpage-h2 {
    font-family: lemon;
    font-size: 0.8rem;
    color: var(--brown);
    padding: 1rem 0;
  }

  .blog-card-frontpage-image img {
    height: auto; 
    width: 100%;
    max-width: 200px;
  }

  .blog-card-frontpage-text {
    text-align: left;
    width: 90%;
    max-width: 200px;
    margin: 0 auto;
  }
  .blog-card-frontpage-text a {
    color: var(--brown);
    font-size: 0.8rem;
    font-weight: bold;
  }
  .blog-card-frontpage-text h3 {
    margin: 0.2rem 0;
    font-size: 1rem;
    color: var(--brown);
  }


/* Footer */ 

footer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  position: relative;
  top: 100vh;
}

footer a {
  text-decoration: none;
}

.footer-copyright-text {
  color: var(--brown);
  text-decoration: none;
  font-size: 0.6rem;
  margin: -2rem auto 0 auto;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-navigation a {
  padding: 0;
  font-size: 0.6rem;
  text-decoration: none;
  list-style-type: none;
}

.footer-navigation li {
  padding: 0 0.5rem;
  color: var(--brown);
  text-decoration: underline;
}

.footer-navigation-white li {
  color: #FFF;
}

.footer-copyright-text-white {
  color: #FFF;
}

/*Media queries*/

@media screen and (min-width: 500px) {
  .frontpage-logo {
    padding-top: 8rem;
  }
  .blog-card-frontpage {
    width: 45%;
  }
  .frontpage-carousel {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767.9px) {
  .container {
    max-width: 540px;
  }
  .fa-angle-down {
    display: none;
  }
  .frontpage-carousel {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  #logo-with-title {
    margin-left: -2rem;
  }
  #navigation-line {
    padding-top: 1rem;
  }
  .hamburger-button {
    font-size: 2rem;
  }
  .footer-navigation li {
    padding: 0 1rem;
  }
  .footer-navigation a {
    font-size: 1rem;
  }
  .footer-copyright-text {
    font-size: 0.8rem;
    margin-top: -1.8rem;
  }
  .frontpage-content {
    top: 125px;

  }
  .frontpage-h1 {
    font-size: 1rem;
  }
  .frontpage-logo {
    padding-top: 300px;
  }
}

@media screen and (max-width: 991.9px) {
  .ls-only {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .hamburger-button::before {
    display: none;
  }
  .frontpage-content {
    top: 175px;
  }
  .frontpage-h1 {
    font-size: 1.2rem;
  }
  nav ul {
    flex-direction: row;
    background: none;
    height: auto;
    position: static;
    padding: 0;
  }
  nav li {
    border-bottom: none;
  }
  .fa-xmark::before {
    display: none;
  }
  .blog-card-frontpage {
    display: flex;
  }
  .blog-card-frontpage-text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .blog-card-frontpage-text, .blog-card-frontpage-image {
    flex: 1;
  }
  .frontpage-carousel {
    width: 100%;
  }
  .frontpage-h2 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .frontpage-content {
    top: 175px;
  }
  .frontpage-h1 {
    font-size: 1.6rem;
  }
  .frontpage-h2 {
    font-size: 1.2rem;
  }
  .blog-card-frontpage-text a {
    font-size: 1rem;
    
  }
  .blog-card-frontpage-text h3 {
    margin: 0.2rem 0;
    font-size: 1.2rem;
  }
  .frontpage-text-box h4 {
    font-size: 1.2rem;
  }
  
  .frontpage-text-box p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1330px;
  }
  .frontpage-logo {
    padding-top: 400px;
  }
  .blog-card-frontpage-image img {
    max-width: 350px;
  }
}