/* Global */

:root {
  --brown: #43362E;
  --bronze: #D57E39;
  --white: #FFF;
  --frontpageWhite: #D9D9D9;
}

html {
  font-family: inter;
  overflow-x: hidden;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  min-height: 100vh;
  overflow-x: auto;
}

h1 {
  font-family: lemon;
}

/* For brown text */

.brown {
  color: var(--brown);
}

.light {
  color: var(--white);
}

.container {
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* Buttons */

.btn-bronze {
  background: var(--bronze);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: lemon;
  color: var(--brown);
  display: inline-block;
  margin: 1rem 0;
  position: relative;
}




/* For white header - Creating black background to header element for adjusting the styling on the white version of the header */

.dark {
  background: black;
}

.hamburger-button-white {
  color: #FFF;
}

/* Header */


  /* Keyframes for backdrop for the menu */

  @keyframes fadeIn {
    from {
      opacity:0;
    }
    to {
      opacity: 0.8;
    }
  }

  @keyframes fadeOut {
    from {
      opacity:0.8;
    }
    to {
      opacity: 0;
    }
  }

.backdrop-active {
  z-index: 400;
  background-color: rgba(67, 54, 46, 0.8);
  height: 100%;
  width: 100vw;
  position: fixed;
  animation: fadeIn 0.3s ease-in; 
}

#navigation-line {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header {
  position: relative;
  z-index: 500; 
}

nav {
  margin-left: auto;
  z-index: 700;
}

nav a {
  text-decoration: none;
  list-style: none;
  padding: 0 1rem;
  color: var(--brown);
  font-size: 1rem;
}

nav li {
  list-style: none;
  padding: 0.5rem;
  border-bottom: 2px solid var(--bronze);
  width: 100%;
}

nav ul {
  display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: flex-start;
   position: fixed; 
   right: -150%;
   transition: right 0.3s ease-in-out;
   top: 0;
   background: #FFF;
   height: 100vh;
   margin: 0;
   padding: 4rem 3rem 2rem;
}

.menu-active nav ul {
  right: 0;
  transition: right 0.3s ease-in-out;
}

#menu-list i {
  position: absolute;
  right: 15%;
  top: 4%;
  font-size: 2rem;
  color: var(--brown);
}

.hamburger-button {
  font-size: 1.5rem;
  color: var(--brown);
}

.hamburger-button-white {
  color: #FFF;
}

.logo-text-desktop {
  display: flex;
  align-items: center;
}

/* Frontpage */

.hero-image-container {
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
}

.hero-photo img {
  height: auto;
  width: 100%;
}

/* Frontpage gradient */ 

.gradient-container {
  position: relative;

  &:after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,1));
  }
}

.frontpage-h1 {
  font-size: 0.8rem;
  padding-top: 4rem;
}

.frontpage-h2 {
  font-size: 1rem;
  padding-top: 2rem;
  font-family: lemon;
}

.frontpage-h3 {
  font-family: lemon;
  font-size: 0.8rem;
} 

.frontpage-lower-logo {
  padding-top: 50vh;
}

.frontpage-text-box {
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid rgb(213, 126, 57, 0.6);
  margin: 1rem;
}

.frontpage-text-box p {
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.4rem;
  
}

/* Frontpage carousel */

.carousel {
  height: 300px;
  border: 2px solid rgb(213, 126, 57, 0.6);
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem;
}

/* About */

.about-text {
  text-align: left;
  padding: 0 30px;
  margin-top: 3rem;
  border: 2px solid rgb(213, 126, 57, 0.6);
  border-radius: 5px;
  background: rgba(255,255,255,0.6)
}

.h1-about,
.h2-about {
  font-size: 1rem;
}

.h2-about {
  font-family: lemon;
  padding-top: 1rem;
}

.p-about {
  font-size: 0.8rem;
  font-weight: 400;
}

.p-about-narrow {
  max-width: 250px;
}

/* Blogs page */

.blogs-h1 {
  font-size: 0.75rem;
  font-weight: lighter;
  padding-top: 1rem;
}

.blog-container {
  height: 440px;
  max-width: 300px;
  border: 1px solid red;
  margin: 1rem auto 0;
}

.blogs-load-more {
  font-family: lemon;
  font-size: 0.8rem;
  display: inline-block;
  padding: 2rem;
  text-decoration: none;
}

  /* Selector */

  .custom-select {
    width: 200px;
    margin: 0 auto;
    padding: 4rem 0;
  }

  .custom-select select {
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    background: var(--bronze);
    color: #FFF;
    font-size: 1rem;
    opacity: 0.8;
  }


/* Contact */

.contact-h1 {
  font-size: 0.75rem;
  width: 90%;
  padding-top: 5vh;
  margin: 0 auto;
}

.contact-h2 {
  font-size: 0.75rem;
}

.contact-container {
  width: 90%;
  max-width: 655px;
  border: 2px solid rgb(213, 126, 57, 0.6);
  background: rgba(255,255,255,0.2);
  border-radius: 5px;
  margin: 2rem auto 0;
  padding: 1rem;
}

#contact-form {
  text-align: center;
  margin: 0 auto;
}

#contact-form label {
  display: block;
  margin: 0.6em 0;
  font-size: 0.6rem;
  color: var(--brown);
}

#contact-form textarea {
  font-family: inter;
}

#contact-form textarea,
#contact-form input {
  width: 200px;
}

#contact-form .btn-bronze {
  display: block;
  margin: 1rem auto;
}

/* Footer */ 

footer {
  
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  position: relative;
}

footer a {
  text-decoration: none;
}

.footer-copyright-text {
  color: var(--brown);
  text-decoration: none;
  font-size: 0.6rem;
  margin: -2rem auto 0 auto;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-navigation a {
  padding: 0;
  font-size: 0.6rem;
  text-decoration: none;
  list-style-type: none;
}

.footer-navigation li {
  padding: 0 0.5rem;
  color: var(--brown);
  text-decoration: underline;
}

.footer-navigation-white li {
  color: #FFF;
}

.footer-copyright-text-white {
  color: #FFF;
}

/*Media queries*/

@media screen and (max-width: 767.9px) {
  .container {
    max-width: 540px;
    padding: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .frontpage-h1 {
    padding-top: 4rem;
    font-size: 1.2rem;
  }
  .frontpage-lower-logo {
    padding-top: 60vh;
  }
  .carousel {
    height: 600px;
  }

  /* About */

  .about-text {
    max-width: 600px;
    margin: 6rem auto;
    padding: 30px;
  }

  .p-about {
    font-size: 1rem;
  }

  .p-about-narrow {
    max-width: 400px;
  }

  .h1-about,
  .h2-about {
    font-size: 1.4rem;
  }

  /* Blogs */ 

  .blog-container {
    height: 414px;
    max-width: 655px;
    border: 1px solid red;
    margin: 1rem auto 0;
  }

    /* Navigation */
  
    #logo-with-title {
      margin-left: -2rem;
    }
    #navigation-line {
      padding-top: 1rem;
    }
    .hamburger-button {
      font-size: 2rem;
    }
    .footer-navigation li {
      padding: 0 1rem;
    }
    .footer-navigation a {
      font-size: 1rem;
    }
    .footer-copyright-text {
      font-size: 0.8rem;
      margin-top: -1.8rem;
    }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

    /* Frontpage */ 

    .frontpage-h1,
    .frontpage-h2,
    .frontpage-h3 {
      font-size: 1.357rem;
    }

    .frontpage-text-box p {
      font-size: 1rem;
    }


    /* Blogs */

    .blogs-h1 {
      font-size: 1.375rem;
      font-weight: lighter;
      padding-top: 1rem;
    }

    .blogs-load-more {
      font-size: 1.2rem;
      display: inline-block;
      padding: 4rem;
    }
    

    /* Navigation */

    .hamburger-button::before {
      display: none;
    }
    nav ul {
      flex-direction: row;
      background: none;
      height: auto;
      position: static;
      padding: 0;
    }
    nav a {
      font-size: 1.4rem;
    }
    nav li {
      border-bottom: none;
    }
    .fa-xmark::before {
      display: none;
    }
    .navbar-white a {
      color: var(--white);
    }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .blogs {
    display: flex;
    margin: 0;
  }
  .blog-container {
    height: 655px;
    width: 45%;
    border: 1px solid red;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1330px;
  }
}